@import './themes.scss';
.nav-container{
  margin: 0 !important;
  padding:0;
  display: flex;
  justify-content: flex-end;
}
.nav-line{
  border-top: 0.1em solid $lightBlue;
  width: 100%;
}
nav{
  display: flex;
  gap: 10px;
  .navigation{
    margin: 0;
  }
  .routes{
    text-decoration: none;
    color: $lightBlue;
  }
  .routes>h4{
    padding: 1em;
    border: 0.1em solid $lightBlue;
    border-bottom: none;
    border-radius: 0.3em 0.3em 0 0;
    margin:0;
  }
  .routes.selected{
    color: $lighterBg;
    font-weight: bolder;
  }
  .routes.selected>h4{
    background: $darkBlue;
    border: 0.1em solid $darkBlue;
    border-bottom: none;
  }
}