@import './themes.scss';

.Section-container{
  display: flex;
  flex-direction: column;
  text-align: center;    
  color: $red;
  margin-bottom: 0em;

  *{
    margin: 0.5em;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
  }
  .Section-title{
    text-transform: uppercase;
    font-size:0.9rem;
    color: $darkRed;
    font-weight: bolder;
  }
  .source-links>div>a{
    text-decoration: none;
    color: $red;
  }
  .section-disclaimer{
    color:$bgcolor;
    align-self: center;
    padding:0.2em;
    background-color: $darkRed;
    line-height: 1;
  }
}
.fact{
  border-top:0.1em solid $darkRed;
}