@import './themes.scss';

.Section-container{
  display: flex;
  flex-direction: column;
  color: $darkBlue;
  margin-bottom: 0em;

  .Section-title{
    text-transform: uppercase;
    font-size:0.9rem;
    color: $lightBlue;
    font-weight: bolder;
  }
  .source-links>div>a{
    text-decoration: none;
    color: $darkBlue;
  }
  .section-disclaimer{
    align-self: center;
    margin: 5em 3em;
    padding: 2.2em;
    text-align: justify;
    width: 450px;
    background-color: $disclaimerColor;
    line-height: 1;

    .Section-title, p{
      color:$lighterBg;
    }
  }
}
.fact{
  border-top:0.1em solid $lightBlue;
}

.Section-container > *{
  margin: 0.5em;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
}