@import './themes.scss';

.Section-container{
  display: flex;
  flex-direction: column;
  color: $darkBlue;
  margin-bottom: 0em;

  *{
    margin: 0.5em;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
  }
  .Section-title{
    text-transform: uppercase;
    font-size:0.9rem;
    color: $lightBlue;
    font-weight: bolder;
  }
  .source-links>div>a{
    text-decoration: none;
    color: $darkBlue;
  }
  .section-disclaimer{
    align-self: center;
    padding:0.2em;
    background-color: $disclaimerColor;
    line-height: 1;

    .Section-title, p{
      color:$lighterBg;
    }
  }
}
.fact{
  border-top:0.1em solid $lightBlue;
}