@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$bgcolor: #212121;
$darkRed: #903749;
$red: #E84545;

html{
  background-color: $bgcolor;
  // font-family: 'Barlow', sans-serif;
}
:export{
  bgcolor: $bgcolor;
  darkRed: $darkRed;
  red: $red;
}