@import './themes.scss';

.tool-wrapper{
  margin: 1em 15em;
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  background: $lighterBg;
  place-items: center;
  *{
    margin:0.5em;

    img{
      height: 3rem;
    }
  }
}
