@import '../styles/themes.scss';

.tool-wrapper{
  margin:1em;
  // display: flex;
  // justify-content: center;
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  *{
    margin:0.5em;
    // a{
    //   margin:5em;
    // }
    img{
      height: 3rem;
    }
  }
}
